
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start" autocomplete="off">
            <input class="layui-input" placeholder="截止日" name="end" id="end" autocomplete="off">
            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>

    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户名</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>备注</th>
            <th>出发日期</th>
            <th>预约时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        {foreach $res as $v}
        <tr>
            <td>
                <div id="userid" class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id={$v.id}><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$v.id}</td>
            <td>{$v.userinfo.nick_name}</td>
            <td>{$v.attn}</td>
            <td>{$v.phone}</td>
            <td>{$v.remark}</td>
            <td>{$v.depart_time|date="Y-m-d",###}</td>
            <td>{$v.create_time|date="Y-m-d H:i:s",###}</td>
            <td class="td-status">{:app_status($v.status)}</td>
            <td class="td-manage">
                <a onclick="member_change(this,{$v.id},{$v.status})" href="javascript:;"  title="点击更改状态">
                    <i class="layui-icon">&#xe601;</i>
                </a>
                <a  onclick="x_admin_show('详情资料','{:tp_url('appointment/datum',['id'=>$v.id])}','1000','700')" href="javascript:;"  title="详情">
                    <i class="layui-icon">&#xe63c;</i>
                </a>
                <a title="编辑"  onclick="x_admin_show('编辑','{:tp_url('appointment/edit',['id'=>$v.id])}','1000','700')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,{$v.id})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="page">
        {$res->render()}
    </div>
</div>

<script>
    /*用户-删除*/
    function member_del(obj,id){

        layer.confirm('确认要删除吗？',function(index){
            var success = function(res){
                if(res.code == 1){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg('删除失败!',{icon:1,time:1000});
                }
                return;
            }
            var data = {id:id}
            app.ajaxRequest("{:tp_url('appointment/del_order')}",'post',data,'',success);
        });
    }

    /*更改用户状态*/
    function member_change(obj,id,status){
        layer.confirm('确认要修改用户状态吗？',function(index){
            var condition = $(obj).parents("tr").find(".td-status").find('span').text();
            var data = {
                id:id,
                    status:status
            };
            if(condition =='未处理'){
                var success = function(res){
                    if(res.code == 1){
                        $(obj).attr('title','点击更改')
                        $(obj).parents("tr").find(".td-status").find('span')
                                .removeClass('layui-btn layui-btn-radius layui-btn-normal')
                                .addClass('layui-btn layui-btn-radius')
                                .html('已处理');
                        layer.msg('已更改!',{icon: 1,time:1000});
                    }else{
                        layer.msg('更改失败!',{icon:5,time:1000});
                    }
                    return false;
                };
                app.ajaxRequest("{:tp_url('appointment/change_status')}",'post',data,'',success)

            }else {
                var success = function(res){
                    if(res.code == 1){
                        $(obj).attr('title', '点击更改');
                        $(obj).parents("tr").find(".td-status").find('span')
                            .removeClass('layui-btn layui-btn-radius')
                            .addClass('layui-btn layui-btn-radius layui-btn-normal')
                            .html('未处理');
                        layer.msg('已更改!',{icon: 1,time:1000});
                    }else{
                        layer.msg('更改失败!',{icon:5,time:1000});
                    }
                    return false;
                };
                app.ajaxRequest("{:tp_url('appointment/change_status')}",'post',data,'',success)
            }
        });
    }


    function delAll (argument) {

        var data = tableCheck.getData();
        var len = data.length;
        var data ={id:data};
        layer.confirm('确认要删除所选的'+len+'位用户吗？',function(index){
            var success = function(res){
                if(res.code == 1){
                    layer.msg('删除成功', {icon: 1});
                    $(".layui-form-checked").not('.header').parents('tr').remove();
                    return;
                }else{
                    layer.msg('删除失败!',{icon:1,time:1000});
                }
                return false;
            };

            app.ajaxRequest("{:tp_url('appointment/del_order')}",'get',data,'',success);

        });
    }

</script>
