<div class="left-nav" style="height:100%;">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:tp_url('user/lst')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li >
                    <li>
                        <a href="{:tp_url('user/del_list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员删除</cite>

                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>预约管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:tp_url('appointment/lst')}">
                            <i class="iconfont ">&#xe6a7;</i>
                            <cite>预约列表</cite>
                        </a>
                    </li >
                    <li>
                        <a href="{:tp_url('appointment/del_list')}">
                            <i class="iconfont ">&#xe6a7;</i>
                            <cite>预约删除</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>景点管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:tp_url('line/lst')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>分类列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>其他设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:tp_url('Clubcard/lst')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>秀程卡设置</cite>
                        </a>
                    </li >
                    <li>
                        <a href="{:tp_url('homeicon/lst')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>首页图标设置</cite>
                        </a>
                    </li >
                    <li>
                        <a href="{:tp_url('Banner/lst')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>轮播图设置</cite>
                        </a>
                    </li >
                    <li>
                        <a href="{:tp_url('cardpas/card_lst')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>卡密生成</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
    </div>
</div>
